<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future</title>
    <link rel="stylesheet" href="../styles/future.css">
</head>
<body>
    <div class="container">
        <div class="wheel">
            <div class="dot" id="dot1"></div>
            <div class="dot" id="dot2"></div>
            <div class="dot" id="dot3"></div>
            <div class="dot" id="dot4"></div>
            <div class="dot" id="dot5"></div>
        </div>
        <button class="main-btn" onclick="goToMain()">Volver al inicio</button>
    </div>

    <div class="popup" id="popup1">
        <div class="popup-content">
            <span class="close" onclick="closePopup('popup1')">&times;</span>
            <p>Tal vez sea poco tiempo pero de verdad en mi cabeza resuena el
                pedirte ser mi pareja, espero que no sea descabellado para ti</p>
        </div>
    </div>
    <div class="popup" id="popup2">
        <div class="popup-content">
            <span class="close" onclick="closePopup('popup2')">&times;</span>
            <p>Ya estoy haciendo planes, aunque suene muy loco XD, pero mi idea es
                hacerlo especial, como lo eres tu
            </p>
        </div>
    </div>
    <div class="popup" id="popup3">
        <div class="popup-content">
            <span class="close" onclick="closePopup('popup3')">&times;</span>
            <p>Espero y aspiro tener una relacion contigo generar una conexion
                y hacer esto durar, quiero dar todo de mi para esta relacion,
                no volver a tener errores de mi pasado
            </p>
        </div>
    </div>
    <div class="popup" id="popup4">
        <div class="popup-content">
            <span class="close" onclick="closePopup('popup4')">&times;</span>
            <p>Perdona si a veces soy muy insistente con salir contigo, pero de verdad
                que los pocos momentos que hemos tenido, son muy especiales, y siempre los debemos acabar
                por eso quiero salir mas contigo, para estar mas tranquilos
            </p>
        </div>
    </div>
    <div class="popup" id="popup5">
        <div class="popup-content">
            <span class="close" onclick="closePopup('popup5')">&times;</span>
            <p>Jamas olvides, que me encantas, y que tienes aqui a alguien para ti, si somos amigos
                o novios siempre estare para ti, porque lo mereces y porque eres encantadora
            </p>
        </div>
    </div>

    <script src="../js/future.js"></script>
</body>
</html>
