<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventanas Volteables Responsivas</title>
    <link rel="stylesheet" href="../styles/past.css">
</head>
<body>
    <div class="container">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" style="background-color: #ffcccc;">
                    <h2>Cuando te conocí</h2>
                </div>
                <div class="flip-card-back">
                    <p>El primer momento fue gracioso, solo pude conocer una pequeña parte de ti, realmente no pude conocer a Amelia</p>
                    <button class="return-button">Regresar</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" style="background-color: #ccffcc;">
                    <h2>Lo que sentia</h2>
                </div>
                <div class="flip-card-back">
                    <p>Desde un principio que caiste bien, pero no estaba seguro si de verdad me gustabas</p>
                    <button class="return-button">Regresar</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" style="background-color: #ccccff;">
                    <h2>Como te ví</h2>
                </div>
                <div class="flip-card-back">
                    <p>Entendi que eras alguien diferente, con un lindo corazón, pero creo que
                        una gran barrera me imagino que fue cuando estabas conociendo a tu ex-novio</p>
                    <button class="return-button">Regresar</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" style="background-color: #ffccff;">
                    <h2>Mi objetivo</h2>
                </div>
                <div class="flip-card-back">
                    <p>Siendo sincero, soy regalar cosas a las personas me gustan asi 
                        que les quiero dar regalitos, diria que desde antes,
                        sentia cosas y porque no intentar algo pero...
                    </p>
                    <button class="return-button">Regresar</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" style="background-color: #ccffff;">
                    <h2>Cuando te perdi</h2>
                </div>
                <div class="flip-card-back">
                    <p>Me dolio porque cuando nos dejamos de hablar te habia
                        regalado una ancheta por cumple, pense que habia pasado algo,
                        pero fue alguien XD</p>
                    <button class="return-button">Regresar</button>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front" style="background-color: #ffffcc;">
                    <h2>Como termino</h2>
                </div>
                <div class="flip-card-back">
                    <p>
                        Al primer momento dije que fue algo mio, luego tuve un poco de rencor cuando me di cuenta
                        de tu novio dije ahhhhh jajaja
                    </p>
                    <button class="return-button">Regresar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/past.js"></script>
</body>
</html>
