<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Present</title>
    <link rel="stylesheet" href="../styles/present.css">
</head>
<body>
    <div class="carousel-container">
        <button class="nav-button" id="prev-button">&#9664;</button>
        <div class="carousel">
            <div class="carousel-item" style="background-color: #ffcccc;">
                <h2>Feliz de cruzarme contigo</h2>
                <p>Pero siempre uno vuelve donde fue feliz y como la historia del hilo rojo,
                    pues la vida me hizo cruzar contigo y todo solo por una salida a cine</p>
                <button class="back-button" onclick="goToMain()">Regresar al Main</button>
            </div>
            <div class="carousel-item" style="background-color: #ccffcc;">
                <h2>Te adoro</h2>
                <p>De verdad que cuando te digo eso es porque me sale del corazon, lo que eres,
                    como me tratas, como aun ocupada te preocupas por mi, lo valoro mucho, lo atesoro
                    y me encanta, todo en cierto tiempo, pero ayudo el click que dimos desde el inicio
                </p>
                <button class="back-button" onclick="goToMain()">Regresar al Main</button>
            </div>
            <div class="carousel-item" style="background-color: #ccccff;">
                <h2>Las Almas Gemelas Existen</h2>
                <p>Aunque suene gracioso hemos conectado en muchas cosas, que hasta sorprenden si se cuenta la
                    historia, pero sabes, es entenderte, es conocerte, saber quien es Amelia, quien es la persona
                    que adoro, y me gusta conectar en tanto, porque se que lo que tal vez me incomode a mi, a ti 
                    tambien, es una gran ayuda, y es algo que siempre voy a trabajar
                </p>
                <button class="back-button" onclick="goToMain()">Regresar al Main</button>
            </div>
            <div class="carousel-item" style="background-color: #ffffcc;">
                <h2>Gracias</h2>
                <p>
                    Solo puedo decir gracias, siempre agradecere el que me respondieras, despues de mi mensaje en
                    messenger (Lo voy a enmarcar jajaja), gracias por aceptarme la primera invitacion, gracias por tu trato,
                    gracias por seguir conmigo, solo me quedan palabras de agradecimiento,
                    eres lo mas lindo que tengo y solo el que pases tiempo conmigo y consumas de tu
                    tiempo lo agradezco y adoro.
                </p>
                <p>
                    Te adoro mucho Mommy

                </p>
                <p>|</p>
                <button class="back-button" onclick="goToMain()">Volver al inicio</button>
            </div>
        </div>
        <button class="nav-button" id="next-button">&#9654;</button>
    </div>

    <script src="../js/present.js"></script>
</body>
</html>