body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h2{
    text-align: center;
    color: white;
}

p {
    text-align: left;
    color: white;
    font-weight: bold;
}

.window {
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    transition: transform 0.3s;
}

.window:hover {
    transform: scale(1.05);
}

img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .window {
        width: 80%;
    }
}
